body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

:root{
  --hover-menu-color : #ece8ff;
  --icon-menu-color : #7451f8;
  --span-menu-color : #888;
  --white-smoke : whitesmoke;
  --dark-color : #333;
}